{# templates/aggregation_question.jinja2 #}
{% extends "base.jinja2" %}

{% block header %}
Aggregation Question Results
{% endblock %}

{% block content %}
Question: {{ question }}

{% if answer %}
Answer:
{{ answer }}

{% if supporting_data %}
Supporting Data:
{% for item in supporting_data %}
  - {{ item }}
{% endfor %}
{% endif %}
{% else %}
No answer could be generated for this question.
{% endif %}
{% endblock %}
